# Maintenance Mode Toggle
# Set to 'true' to enable maintenance mode, 'false' or remove to disable
VITE_MAINTENANCE_MODE=false

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Cloudflare Analytics
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

# UI Toggles
VITE_SHOW_LANGUAGE_TOGGLE=true
